/* Violet color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
	--pico-text-selection-color: rgba(167, 128, 212, 0.25);
	--pico-primary: #8352c5;
	--pico-primary-dim: #b49ad9;
	--pico-primary-background: #7540bf;
	--pico-primary-underline: rgba(131, 82, 197, 0.5);
	--pico-primary-hover: #6331a8;
	--pico-primary-hover-background: #5e3399;
	--pico-primary-focus: var(--color-accent);
	--pico-contrast-focus: var(--color-accent);
	--pico-primary-inverse: #f8f8f8;

	--pico-secondary: hsl(221, 19%, 65%);
	--pico-secondary-background: hsl(221, 20%, 60%);
	--pico-secondary-border: var(--pico-secondary-background);
	--pico-secondary-underline: hsla(221, 19%, 65%, 0.5);
	--pico-secondary-hover: hsl(221, 20%, 55%);
	--pico-secondary-hover-background: hsl(221, 20%, 55%);
	--pico-secondary-hover-border: var(--pico-secondary-hover-background);
	--pico-secondary-hover-underline: var(--pico-secondary-hover);
	--pico-secondary-focus: hsla(221, 19%, 65%, 0.25);
	--pico-secondary-inverse: #f8f8f8;
}

@media (width < 1024px) {
	select:not([multiple], [size]),
	input[type='text']:not(.search):not(.line-item),
	input[type='email'],
	input[type='number'],
	input[type='date'],
	textarea {
		padding-inline: 0.5rem !important;
	}
}
