body {
	min-height: 100vh;
	overflow-y: scroll;
	background-color: var(--color-primary-bg);
}

svg {
	fill: currentColor;
}

label {
	display: block;
	font-weight: bold;
	color: #888888;
}

label span {
	font-weight: normal;
	color: var(--pico-secondary);
}

input[type='text']:not(.search):not(.line-item),
input[type='number']:not(.line-item),
input[type='date'],
input[type='password'],
input[type='email'],
select,
textarea {
	width: 100%;
	height: 2.5rem;
	margin-bottom: 0;
	padding: 0 1rem;
}

input[type='number']:disabled {
	appearance: none;
	-moz-appearance: textfield;
}

input:not(.line-item):focus,
select:focus,
textarea:focus {
	border-color: transparent;
	box-shadow: 0 0 0 0.1875rem var(--color-accent);
}

textarea {
	height: 8rem;
}

select {
	appearance: none;
}

.field {
	margin-bottom: 1.2rem;
}

.line {
	display: grid;
	grid-template-columns: 1fr 80px 120px 120px 65px;
	column-gap: 1rem;
}

.auth__title {
	margin-bottom: 2rem;
	color: var(--color-accent);
}

.auth__form .field {
	min-width: 19rem;
}

.auth__form .field label {
	color: var(--color-accent);
}

.auth__form .field a {
	align-self: baseline;
	display: inline-block;
	padding: 0.1rem;
	font-size: 0.75rem;
	text-decoration: underline;
	color: var(--pico-primary-inverse);
	border-radius: 0.2rem;
}

.auth__form .field a:hover {
	text-decoration: none;
}

.auth__form .field a:focus-visible {
	color: var(--color-accent);
	text-decoration: none;
}

.auth__form .field p {
	text-align: center;
}

.auth__btn {
	width: 100%;
	margin-top: 0.9rem;
	padding: 0.5rem 1rem;
	font-weight: bold;
	color: var(--color-black);
	background-color: var(--color-success-bg);
}

.auth__btn--reset {
	margin-top: 0;
}

@media (width < 1024px)  {
	.line {
		grid-template-columns: 1fr 70px 106px 106px 45px;
		column-gap: 0.8rem;
	}
}

@media (width < 576px)  {
	.line {
		grid-template-columns: none;
		grid-template-areas:
			"description description description"
			"quantity unitPrice amount";
		align-items: center;
		margin-bottom: 1rem;
		padding-bottom: 0.5rem;
	}

	.line > .description {
		grid-area: description;
	}

	.line > .quantity {
		grid-area: quantity;
	}

	.line > .unitPrice {
		grid-area: unitPrice;
	}

	.line > .amount {
		grid-area: amount;
	}
}

@media print  {
	.line {
		grid-template-columns: 1fr 70px 112px 112px;
		column-gap: 0.4rem;
		grid-template-areas:
		"description quantity unitPrice amount";
		margin-bottom: 0;
    padding-bottom: 0;
		border-bottom: none !important;
	}
}

/* for hiding content (screen reader only) */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(100%);
	-webkit-clip-path: inset(100%);
	overflow: hidden;
}
