:root {
	--color-main: #7540BF;
	--color-main-disabled: #EFEAF1;
	--color-accent: #FFA23A;
	--color-green: #22c6ae;

	/* z-index */
	--z-pop-up-menu: 90;
	--z-nav: 98;
	--z-nav-toggle: 99;
	--z-overlay: 100;
	--z-modal: 101;
}
