:root {
	--color-primary: #7a3acf;
	--color-primary-bg: #f4f4f4;
	--color-primary-disabled: #EFEAF1;
	--color-black: #373c44;
	--color-accent: #ffab4b;
	--color-success: #158667;
	--color-success-bg: #22c697;
	--color-error: #D53E51;
	--color-error-bg: #df6f7d;

	/* breakpoints  less than*/
	--bp-mobile-s: 576px;
	--bp-mobile: 768px;
	--bp-tablet: 1024px;
	--bp-laptop: 1280px;
	--bp-desktop: 1584px;

	/* z-index */
	--z-row-actions: 90;
	--z-row: 100;
	--z-pop-up-menu: 997;
	--z-nav: 998;
	--z-nav-toggle: 999;
	--z-overlay: 1000;
	--z-slide-panel: 1001;
	--z-modal-overlay: 1002;
	--z-modal: 1003;
}
